{
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true,
        "amd" : true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true,
            "jsx": true
        }
    },
    "globals": {},
    "rules": {
        "no-empty": 1,
        "no-console": 0,
        "no-empty-pattern": 1,
        "no-unused-vars": [1, { "varsIgnorePattern": "^h$" }],
        "no-cond-assign": 1,
        "semi": 2,
        "camelcase": 1,
        "comma-style": 2,
        "comma-dangle": [2, "never"],
        "indent": [0, 4, {"SwitchCase": 1,
                          "FunctionDeclaration": {"parameters": "first", "body": 1},
                          "FunctionExpression": {"parameters": "first", "body": 1},
                          "CallExpression": {"arguments": 1}}],
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "no-trailing-spaces": [1, { "skipBlankLines": true }],
        "max-nested-callbacks": [2, 3],
        "no-eval": 2,
        "no-implied-eval": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "guard-for-in": 2,
        "eqeqeq": 1,
        "no-else-return": 2,
        "no-redeclare": 2,
        "no-dupe-keys": 2,
        "radix": 2,
        "strict": [2, "never"],
        "no-shadow": 1,
        "no-delete-var": 2,
        "no-undef-init": 2,
        "no-shadow-restricted-names": 2,
        "handle-callback-err": 1,
        "no-lonely-if": 2,
        "keyword-spacing": 2,
        "constructor-super": 2,
        "no-this-before-super": 2,
        "no-dupe-class-members": 2,
        "no-const-assign": 2,
        "prefer-spread": 2,
        "no-useless-concat": 2,
        "no-var": 1,
        "object-shorthand": 0,
        "prefer-arrow-callback": 2
    }
}
